@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* universal styles */

/* css variables */

:root {
  --clrprimary: rgba(45, 156, 219, 1);
  --clrdark: rgba(40, 40, 40, 1);
  --clrbodytext: rgba(100, 100, 100, 1);
  --clrlightgray: rgba(247, 247, 247, 1);

  --fsh1: 87px;
  --fsh2: 28px;
  --fsh3: 24px;
  --fslarge: 22px;
  --fsmedium: 18px;

  --boxshadow: 0 2px 10px rgba(0,0,0,0.2);
}

@media (max-width: 900px) {
  :root {
    --fsh1: 70px;
    --fsh2: 24px;
    --fsh3: 22px;
    --fslarge: 20px;
    --fsmedium: 17px;
  }
}

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: var(--clrbodytext);
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--fsh1);
  font-weight: 400;
  line-height: 0.9;
  color: var(--clrdark);
}

h2 {
  font-size: var(--fsh2);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 15px;
  color: var(--clrdark);
}

h3 {
  font-size: var(--fsh3);
  text-transform: uppercase;
  font-weight: 400;
  color: var(--clrdark);
}

.large {
  font-size: var(--fslarge);
  color: var(--clrdark);
}

.medium {
  font-size: var(--fsmedium);
  color: var(--clrdark);
}

a {
  color: var(--clrdark);
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  border-radius: 50px;
  border: solid 1px var(--clrprimary);
  cursor: pointer;
  padding: 8px 35px;
  display: block;
  width: fit-content;
  font-size: 1rem;
}

.primary {
  color: var(--clrprimary);
}

.container {
  width: 800px;
  margin: 0 auto;
}

.line {
  height: 1px;
  width: 100px;
  margin-top: 8px;
  background-color: var(--clrprimary);
}

.wide-line {
  width: 50%;
  margin: 70px auto;
}

i {
  margin-right: 30px;
  transform: scale(1.2);
}

section {
  padding: 80px 0;
}

@media (max-width: 900px) {
  section {
    padding: 80px 30px;
  }

  .container {
    width: 100%;
    margin: 0;
  }
}

/* loader */

#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: var(--clrprimary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid var(--clrprimary);
  border-top-color: lightgray;
  animation: spinner 0.7s linear infinite;
}

.hidden {
  animation: fadeout 1s;
  animation-fill-mode: forwards;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* header */

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 0 50px;
  z-index: 12;
}

nav li {
  text-transform: uppercase;
  font-size: 0.95rem;
  color: var(--clrdark);
}

.normal-nav {
  height: 50px;
  padding: 0 50px 0 0;
  display: flex;
  align-items: center;
}

.normal-nav li {
  display: inline-block;
  margin: 0 30px;
}

.normal-nav li:last-of-type {
  margin-right: 0;
}

.mob-nav {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 50px;
  transform: translateX(100%);
  width: fit-content;
  background-color: white;
  z-index: 10;
  border-bottom-left-radius: 5px;
  box-shadow: var(--boxshadow);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.open-mob-nav {
  transform: none;
}

.mob-li {
  margin: 50px 100px 50px 50px;
}

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 16px;
  margin: 20px;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background-color: black;
  position: absolute;
}

.burger-top {
  top: 0;
}

.burger-middle {
  top: 7px;
}

.burger-bottom {
  top: 14px;
}

@media (max-width: 900px) {
  .normal-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

/* hero section */

.hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
}

.hero-section .container {
  z-index: 1;
}

.hero-section a {
  margin-top: 30px;
}

.clouds-underlay {
  background: url('./images/mountains.jpg') no-repeat center;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (max-width: 900px) {
  .hero-section {
    padding: 0 30px;
  }
}

@media (max-width: 550px) {
  .hero-section {
    text-align: center;
  }

  .hero-section a {
    margin: 30px auto 0 auto;
  }

  h1 {
    font-size: 12.8vw;
  }

  h2 {
    font-size: 4.3vw;
  }

  .hero-section p {
    font-size: 3.15vw;
  }
}

/* work section */

.work-section {
  background-color: var(--clrlightgray);
}

.work-section .line {
  margin-bottom: 70px;
}

.work-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.work-screens {
  position: relative;
  width: 100%;
  height: 350px;
}

.desktop {
  width: auto;
  height: 100%;
  border-radius: 5px;
  box-shadow: var(--boxshadow);
}

.mob {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 280px;
  width: auto;
  border-radius: 5px;
  box-shadow: var(--boxshadow);
}

@media (max-width: 900px) {
  .work-screens {
    position: relative;
    width: 100%;
    height: fit-content;
  }
  
  .desktop {
    width: 88%;
    height: auto;
    border-radius: 5px;
    box-shadow: var(--boxshadow);
  }
  
  .mob {
    position: absolute;
    right: 0;
    bottom: 4px;
    height: 32vw;
    width: auto;
    border-radius: 5px;
    box-shadow: var(--boxshadow);
  }
}

@media (max-width: 400px) {
  .work-title p {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* about section */

.about-section .line {
  margin-bottom: 30px;
}

.about-top {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 100px;
  position: relative;
}

.about-text p {
  width: 400px;
}

.about-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.square-image, .square-light, .square-dark {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 1px solid var(--clrprimary);
  position: absolute;
}

.square-image {
  background-color: rgba(244, 251, 255, 1);
  top: 0;
  right: 20px;
  z-index: 2;
}

.square-light {
  background-color: rgba(226, 245, 255, 1);
  top: 10px;
  right: 10px;
  z-index: 1;
}

.square-dark {
  background-color: rgba(193, 233, 255, 1);
  top: 20px;
  right: 0;
}

.about-bottom .large {
  text-align: center;
  margin-bottom: 40px;
}

.circle-holder {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 auto;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clrprimary);
  color: var(--clrdark);
  margin: 0 12.5px 25px 12.5px;
}

@media (max-width: 800px) {
  .about-text {
    width: 100%;
  }

  .about-text p {
    width: 100%;
  }

  .square-holder {
    position: relative;
    width: 270px;
    height: 270px;
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 600px) {
  .circle-holder {
    width: 375px;
  }
}

@media (max-width: 450px) {
  .circle-holder {
    width: 250px;
  }
}

/* responsive section */

.responsive-section {
  background-color: var(--clrlightgray);
}

.responsive-section .large {
  margin-bottom: 40px;
}

.device-holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.desktop-device {
  width: 48%;
  height: auto;
  position: relative;
  top: 10px;
}

.ipad-device {
  width: 18%;
  height: auto;
}

.phone-device {
  width: 8%;
  height: auto;
}

@media (max-width: 860px) {
  .device-holder {
    justify-content: center;
  }
  
  .desktop-device {
    width: 80%;
    top: 0px;
    margin-bottom: 80px;
  }
  
  .ipad-device {
    width: 50%;
    margin-right: 40px;
  }
  
  .phone-device {
    width: 24%;
    margin-left: 40px;
  }
}

/* contact section */

.contact-section .medium {
  margin: 30px 0;
  width: 350px;
}

@media (max-width: 400px) {
  .contact-section .medium {
    width: 100%;
  }
}

/* footer */

footer {
  background-color: var(--clrdark);
  color: white;
  text-align: center;
  padding: 30px 0;
  font-size: 0.85rem;
}


/* fade in animations */

.fade {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transition-delay: 0.2s;
}

.fade-after {
  opacity: 1;
  transform: none;
}

